<Files ~ "\.(htaccess|htpasswd)$">

deny from all

</Files>

 

RewriteEngine on

RewriteCond %{THE_REQUEST} ^.*/index.html

RewriteRule ^(.*)index.html$ https://khec.ml/$1 [R=301,L]

ErrorDocument 404 /404.html
